@font-face {
  font-family: Rokkitt;
  src: url('/fonts/Rokkitt-VariableFont_wght.ttf');
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Rokkitt, sans-serif;
  background: #f8fffa;
}


$link-list: #599468;
$lines: #2a6739;
$text-color: #002509;
$hilight-on-dark: #fffcfb;
$main-bg: #003e10;
$header-color: #fd8c00;

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  a {
    font-weight: none;
    text-decoration: none;
    color: $hilight-on-dark;
  }
  nav.sidebar {
    background: $main-bg;
    background-image: url("/bg.jpg");
    text-align: right;
    border-right: solid 4px $lines;
    ul {
      list-style-type: none;
      margin-right: 14px;
      li {
        font-size: 2em;
        a {
          transition: .3s;
        }
        a:hover {
          transition: .3s;
          color: $header-color;
        }
      }
    }
    h3 {
      padding: 0;
      margin: 0;
      margin-right: 14px;
      font-size: 2em;
      font-weight: normal;
      color: $header-color;
    }
    #TableOfContents{
      text-transform: lowercase;
      ul {
        margin-top: 0;
          border-right: solid 2px $lines;
          padding-right: .2em;
          li {
            font-size: 18px;
          }
        ul {
          margin: 0;
          border-right: solid 2px $lines;
          padding-right: .2em;
          li {
            font-size: 18px;
          }
        }
      }
    }

  }
  main, main#blogi, main#muistiinpano {
    opacity: 100%;
    transition: .3s;
    h2 {
      margin: 0 0 .2em 0;
      text-decoration: underline;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li.show-more {
        margin-top: .2em;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: $header-color;
    }
    h2, h3, h4, h5, h6 {
      text-decoration: none;
    }
    h1 {
      font-size: 2.6em;
      margin-top: .5em;
    }
    p {
      font-size: 1.2em;
      a {
        font-weight:bold;
      }
    }
  }
  main {
    color: $text-color;
    article {
      padding-left: 2em;
      padding-top: 1em;
      padding-right: 25%;
    }
    a {
      color: $text-color;
      font-size: 1.1em;
    }
    article:hover > h1 {
      border-left: solid 8px $main-bg;
      padding-left: 8px;
      transition: .5s;
    }
    h1 {
      margin-bottom: 0;
      padding-bottom: 0;
      transition: .5s;
      border-left: solid 0px $main-bg;
    }
    .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: $main-bg;
      .item {
        position: relative;
        border: dotted 2px $lines;
        border-left: none;
        padding: .5em 1.1em .5em 3.1em;
        color: $hilight-on-dark;
        white-space: nowrap;
        svg {
          position: absolute;
          top: 8px;
          left: 10px;
        }
        .description {
          font-size: 14px;
        }
        .fact {
          color: $header-color;
        }
      }
    }
    &#blogi, &#muistiinpano {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: $main-bg;
      .card {
        padding: 1.1em;
      }
      a {
        color: $link-list;
        transition: .5s;
        &:hover {
          color: $hilight-on-dark;
          transition: .5s;
          padding-left: 8px;
        }
      }
      h2 > a {
        border: none;
        padding: 0;
        color: $header-color;
        &:hover {
          border: none;
          padding: 0;
        }
      }
    }
  }
}
