
@font-face{
  font-family: Rokkitt;
  src: url('/fonts/Rokkitt-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: Rokkitt, sans-serif;
}

$lines: #fd833b;

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  a {
    font-weight: none;
    text-decoration: none;
    // color: black;
    color: #ff9557;
  }
  nav.sidebar {
    background: #ff5e00;
    text-align: right;
    border-right: solid 4px $lines;
    ul {
      list-style-type: none;
      margin-right: 14px;
      li {
        font-size: 24px;
      }
    }
  }
  main {
    background: #fdf4f0;
    padding-left: 18px;
    padding-right: 25%;
    color: #633d28;
  }
}
